/****GLOBAL****/
.header {
  text-align:center;
  font-size:50px;
  margin-bottom:-30px;
  margin-top:-30px;
}

body {
  background: #5E91E3;
}

.header h1 {
  font-family: 'Forum', serif;
  color:white;
}

.footer {
  text-align:center;
  margin-top:30px;
  font-size:10px;
}

.footer h3 {
  font-family: Georgia, serif;
  text-align:center;
  margin-top:50px;
}

.topnav {
  position:fixed;
  z-index:10;
  top:0px;
  width:100%;
  background-color:#8BB1EC;
  left:0px;
  border-bottom: 1px solid black;
  font-family: 'Raleway', sans-serif;
  background-image:    url(/images/menu.jpg);              
  background-repeat:   no-repeat;
  background-position: center center;
}

.topnav .fixednav {
  text-decoration:none;
  color: black;
  float:right;
  padding:20px;
  transition: 0s all;
  height:100%;
  right:20px;
  position:relative;
  font-size:20px;
}

.topnav .fixednav:hover {
  color:#0C139D;
}

.topnav #homenav {
  float:left;
  padding-left:20px;
  padding-right:20px;
  margin-left:10px;
}

.hidden {
  display:none;
}

#current {
  text-decoration:underline;
}

/****HOME****/

.menu {
  position:relative;
  left:50%;
  margin-left:-600px;
  width:1200px;
  height:500px;
  background-color:lightblue;
  overflow:hidden;
  border-radius:10px;
  -moz-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  box-shadow: 1px 0px 30px rgba(0,0,0,1);
}

.menuelement {
  text-align:center;
  float:left;
  height:500px;
  width:400px;
}

#photography {
  background-image:    url(/images/lauren1.jpg);
  background-size:     100% 140%;                 
  background-repeat:   no-repeat;
  background-position: center center;
  transition: background-size 0.2s ease;
  -moz-transition: background-size 0.2s ease; /* Firefox 4 */
  -webkit-transition: background-size 0.2s ease; /* Safari and Chrome */
  -o-transition: background-size 0.2s ease; /* Opera */
  -ms-transition: background-size 0.2s ease; /* Explorer 10 */
}

#photography:hover {
  background-size: 115% 160%;
}

#development {
  background-image:    url(/images/development.jpg);
  background-size:     100% 100%;                 
  background-repeat:   no-repeat;
  background-position: center center;
  transition: background-size 0.2s ease;
  -moz-transition: background-size 0.2s ease; /* Firefox 4 */
  -webkit-transition: background-size 0.2s ease; /* Safari and Chrome */
  -o-transition: background-size 0.2s ease; /* Opera */
  -ms-transition: background-size 0.2s ease; /* Explorer 10 */
}

#development:hover {
    background-size: 120% 120%;
}

#videography {
  background-image:    url(/images/videography.jpg);
  background-size:     150% 100%;                 
  background-repeat:   no-repeat;
  background-position: center center;
  transition: background-size 0.2s ease;
  -moz-transition: background-size 0.2s ease; /* Firefox 4 */
  -webkit-transition: background-size 0.2s ease; /* Safari and Chrome */
  -o-transition: background-size 0.2s ease; /* Opera */
  -ms-transition: background-size 0.2s ease; /* Explorer 10 */
}

#videography:hover {
  background-size: 170% 115%;
}

div h4 {
  font-size:60px;
  padding-top:130px;
  font-family: 'Raleway', sans-serif;
  opacity:.7;
  color:white;
}

#photography h4 {
  /*padding-top:320px;
  color:#FFD194;*/
}

#development h4 {
  /*padding-top:150px;
  color:#C8F0B2;*/
}

#videography h4 {
  /*padding-top:-50px;
  color:#E97679;*/
}

.about {
  position:relative;
  text-align:center;
  width:1200px;
  left:50%;
  margin-left:-600px;
}

.about h2 {
  color:white;
  font-size:40px;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
}

.about p {
  color:white;
  font-size:20px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
  margin-top:-20px;
}

.about a {
  text-decoration:none;
}

.about a img {
  height:50px;
  width:50px;
  padding:0px 10px 20px 10px;
}

.contactme {
  height:50px;
  width:150px;
  border:5px solid white;
  line-height:10px;
  text-align:center;
  margin-top:20px;
  margin-bottom:50px;
  transition: 0s all;
  color:white;
  font-family: 'Raleway', sans-serif;
}

.contactme:hover {
  background-color:white;
  color:#5E91E3;
}

#contactlink {
  text-decoration:none;
}

#contactwrapper {
  position:relative;
  width:150px;
  left:50%;
  margin-left:-80px;
}

.contactme h2 {
  font-size:25px;
}


/****PHOTOGRAPHY****/

.title {
  position:relative;
  top:50px;
  text-align:center;
  font-size:40px;
  margin-bottom:100px;
  font-family: 'Raleway', sans-serif;
}

.content {
  position:relative;
  display:block;
  left:50%;
  margin-left:-775px;
  width:1550px;
  margin-bottom:-70px;
}

.photo {
  position:relative;
}

#lauren1 {
  width:405px;
  height:720px;
}

#lauren2 {
  width:405px;
  height:720px;
}
#lauren3 {
  width:405px;
  height:720px;
  bottom:315px;
}

#lauren4 {
  width:720px;
  height:405px;
  bottom:315px;
}

#band1 {
  width:813px;
  top:365px;
  left:316px;
}

#band2 {
  width: 310px;
  height: 248px;
  bottom:857px;
  right:407px;
}

#band3 {
  width:310px;
  height:470px;
  bottom:565px;
  right:815px;
}

#band4 {
  width: 720px;
  bottom:856px;
  right:0px;
}

#band5 {
  width:813px;
  bottom:724px;
  left:725px;
}

/****DEVELOPMENT****/

.devcontent {
  display:block;
  top:100px;
}

.link {
  position:relative;
  bottom:150px;
  float:center;
  width:600px;
  height:300px;
  left:515px;
  -moz-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  box-shadow: 1px 0px 10px rgba(0,0,0,1);
  background-color:white;
  border-radius:5px;
}

#trash {
  width:100%;
  height:100%;
  border-radius:5px;
}

#trashcurbers {
  position:relative;
  top:50px;
  width:1200px;
  height:400px;
  text-align:left;
  left:50%;
  margin-left:-625px;
  margin-bottom:400px;
  border-radius:5px;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#7CD15C, #D3FFC3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7CD15C, #D3FFC3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7CD15C, #D3FFC3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#259393, #BFFFFF); /* Standard syntax */
  -moz-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  box-shadow: 1px 0px 20px rgba(0,0,0,1);
}

.devprojcontent {
  margin-left:50px;
  top:20px;
  position:relative;
  width:500px;
}

#trashcurbers h2 {
  font-size:35px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#trashcurbers h3 {
  font-size:20px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#trashcurbers p {
  font-size:17px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}


/****VIDEOGRAPHY****/

.videocontent {
  display:block;
}

.videotitle {
  margin-top:100px;
  text-align:center;
  font-size:40px;
  padding-bottom:10px;
  font-family:'Raleway', sans-serif;
}

.project {
  position:relative;
  width:1200px;
  height:500px;
  text-align:left;
  background-color: gray;
  left:50%;
  margin-left:-625px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-left:50px;
  padding-right:50px;
  border-radius:5px;
  -moz-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  box-shadow: 1px 0px 20px rgba(0,0,0,1);
  margin-bottom:50px;
}

.project h2 {
  font-size:35px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.project h3 {
  font-size:20px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.project p {
  font-size:17px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.video {
  position:absolute;
  top:75px;
  left:575px;
  width:620px; 
  height:380px; 
}

.actualvideo {
  width:100%;
  height:100%;
}

.projcontent {
  position:relative;
  width:500px;
  float:left;
}

#deltona {
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#7CD15C, #D3FFC3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7CD15C, #D3FFC3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7CD15C, #D3FFC3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7CD15C, #D3FFC3); /* Standard syntax */
}

#deca {
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FF9C34, #FFC180); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF9C34, #FFC180); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF9C34, #FFC180); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF9C34, #FFC180); /* Standard syntax */
}

#anniv {
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#D487FF, #EECFFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#D487FF, #EECFFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#D487FF, #EECFFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#D487FF, #EECFFF); /* Standard syntax */
}

/****CONTACT****/

.title p {
  font-size:25px;
  margin-top:-20px;
  font-family: 'Raleway', sans-serif;
}

.form {
  position:relative;
  width:320px;
  left:50%;
  margin-left:-155px;
  text-align:center;
  font-family: 'Raleway', sans-serif;
}

.contactform {
  font-size:20px;
}

.contactform input[type=text] {
  height:40px;
  width:295px;
  margin:5px;
  text-align:center;
  font-size:20px;
  border:2px solid gray;
  transition:.3s background-color border;
  font-family: 'Raleway', sans-serif;
}

.contactform input:focus {
  background-color:lightblue;
  border:2px solid black;
}

.contactform input[type=radio] {
  width:20px;
  height:20px;
  position:relative;
  top:4px;
}

.contactform input[type=date] {
  height:40px;
  font-size:15px;
  width:160px;
  font-family: 'Raleway', sans-serif;
}

.submit {
  height:40px;
  margin:5px;
  text-align:center;
  width:200px;
  font-size:15px;
  font-family: 'Raleway', sans-serif;
}

.submit:hover {
  cursor:pointer;
}

#question {
  width:290px;
  height:200px;
  font-family: 'Raleway', sans-serif;
  margin:5px;
  text-align:left;
  font-size:20px;
  border:2px solid white;
  transition:.3s background-color border;
  resize: none;
  position:relative;
  left:3px;
  border:2px solid gray;
}

#question:focus {
  background-color:lightblue;
  border:2px solid black;
}

.proposal {
  position:relative;
}

.services {
  text-align:right;
  position:absolute;
  left:50%;
  margin-left:-258px;
  top:173px;
  border-right:1px solid black;
  padding-right:10px;
  height:150px;
}

.services p {
  position:relative;
  top:-20px;
}

#approx {
  top:565px;
  margin-left:-274px;
  height:110px;
}

#approx p {
  position:relative;
  top:-20px;
}

.types {
  position:relative;
  left:90px;
  text-align:left;
}

.dates {
  position:relative;
  right:16px;
  text-align:right;
}


